@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: snow;
}

body {
    color: #fff;
}

li,
a,
button {
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    width: 56px;
    order: 3;
    margin-left: auto;
}

nav {
    order: 1;
}

.ctl {
    order: 2;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li:nth-child() {
    padding: 0 20px 0 0;
}

.nav__links a {
    transition: 0.3s ease 0s;
}

.nav__links a:hover {
    color: rgb(255, 99, 71);
}

button {
    margin-left: 20px;
    padding: 5px 10px;
    background-color: rgb(255, 99, 71, 1);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s ease 0s;
    color: #000;
}

button:hover {
    background-color: rgb(255, 99, 71, 0.8);
    color: #fff;
}